.Card{
    
    width: 100%;
    height:100vh;
    

}
.Card1{
    
    padding:10px;
}
.Card2{
    
    padding:10px;
}
.Card3{
    
    padding:10px;
}
.Card4 {
    
    padding:10px;
}
.Card5{
    
    padding:10px;
}
.Card6{
    
    padding:10px;
}






