.Card{
    
    width: 100%;
    height:100vh;
    padding:50px;

}
.Card1{
    float:left;
    padding:20px;
}
.Card2 {
    float: left;
    padding:20px;
}
.Card3{
    
    padding:40px;
}
.Card4 {
    float:left;
    padding:20px;
}
.Card5{
    float:left;
    padding:20px;
}
.Card6{
    float: left;
    padding:20px;
}






