@import '~antd/dist/antd.css';

.Code {
  text-align: left;
  background-color:#ffffff ;
}

.Code-logo {
  height: 40vmin;
}

/* .Code-Header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

.Code-mt{
  display: flex;
}
