html{
  display:flex;
  min-height:100%;
  min-width:100%;
}
body{
  margin:0;
  display:flex;
  min-height:100%;
  min-width:100%;
}
#root
{
  display: flex;
  flex-direction: column;
  min-height:100%;
  min-width:100%;
}
.lnk{
  text-decoration: none;
  color:#d00000;
  margin:20px;
}